@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WorksOnProject

<h1>Edit Employee Hours</h1>

<form asp-action="EditEmpHoursDb" asp-controller="WorksOnProject" method="post">

    <div class="form-group">
        <label asp-for="EmpSSN"></label>
        <select asp-for="EmpSSN" asp-items="ViewBag.employees" class="form-control">
            <option>Choose One</option>
        </select>
    </div>

    <div class="form-group" id="projectsArea">
        <label asp-for="projNum"></label>
        <select asp-for="projNum" class="form-control">
            <option>Choose One</option>
        </select>    
    </div>

    <div class="form-group" id="HourArea">
        <label asp-for="Hours"></label>
        <input asp-for="Hours" class="form-control" />
    </div>

    <input type="submit" value="Edit" />
</form>

@section Scripts{
    <script src="/js/EditEmplHours.js"></script>
}