@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int index = 1;
}
@model List<Employee>

    <a href="/Employee/Add">Add Employee</a>
<a href="/Employee/Login">Employee Login</a>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {

            <tr>
                <td>@(index++)</td>
                <td>@employee.Fname </td>
                <td><a href="/Employee/GetById/@employee.SSN">Details</a></td>
                <td><a href="/Employee/Edit/@employee.SSN">Edit</a></td>
                <td><a href="/Employee/Delete/@employee.SSN">Delete</a></td>
            </tr>
        }
    </tbody>
</table>